<header>
  <h1>small talk</h1>
</header>

<div class="container">
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>

<footer>
  <p> &copy; Copyright 2016 | Developed by Sam Peppard</p>
</footer>
