<header>
  <h1>small talk</h1>
</header>

<div class="container">
  <div class="col-sm-6">
    {{#each model as |question|}}
      {{question-tile question=question update="update"}}
    {{/each}}
  </div>
  <br>

  <div class="col-sm-6">
    {{new-question saveQuestion2="saveQuestion3"}}
  </div>
</div>

<footer>
  <p> &copy; Copyright 2016 | Developed by Sam Peppard</p>
</footer>
