
  <div class="row">
    <div class="col-sm-6">
      {{#each model.questions as |question|}}
        {{question-tile question=question update="update"}}
        <hr>
      {{/each}}
    </div>
    <br>

    <div class="col-sm-6">
      {{new-question saveQuestion="saveQuestion"}}
    </div>
  </div>
