
<h2>More information about {{model.author}}'s question</h2>

{{question-detail question=model}}

{{new-answer saveAnswer="saveAnswer" question=model}}
<br>
{{update-question question=model update="update"}}

<br>
{{#link-to 'index'}}<p>Home</p>{{/link-to}}
